---
layout: default
---

<div class="captainRik fixed right-1 top-1">
   <img src="/assets/images/captainrik.png" width="30"/>
</div>



<div class="w-100 h-100">

  <div class="w-100 h-100 w-40-ns fixed-ns left-0 tc flex justify-center items-center">

    <div>
        <h1 class="f2 f-akzExt mb0 mt0" id="name">Maxwell Cooper</h1>
        <div class="absolute mt2 w-100 left-0" id="details">
          <p class="mb4 mt0">
            Copywriter. Marketer. Copywriter.
          </p>
          <div><a class="o-20" href="http://twitter.com/maxwellcoop">@maxwellcoop</a></div>
          <div><a class="o-20" href="mailto:maxwellcoop@gmail.com">maxwellcoop@gmail.com</a></div>
        </div>
    </div>

  </div>

  <div class="w-100 h-100 w-60-ns left-40">

    <div id="intro" class="dn fixed w-50-ns right-0 top-0 bg-white h-100 flex-ns justify-center items-center tc">
      <h2 class="mb0 mt0 f-abhayaReg f3">
        Copywriter. Marketer. Copywriter.
      </h2>
    </div>

    <div class="projects h-100">


      {% for post in site.posts %}

        <div class="project tc flex justify-center items-center mh3 mh5-ns" data-index="{{ forloop.index }}">
          <div>
            <div>
              <img src="{{ post.logo_url }}" width="150" class="mb4" />
              <h3 class="f3 f-abhayaReg mb0">“{{ post.title }}”</h3>
              <div class="mb3 mt2">{{ post.subtitle }}</div>
              <a class="btn readmore no-underline bg-black-10 pa1 ph2 black br2" href="/">{{ post.calltoaction }}</a>

              <div class="content mt5 mb4 tal">
                <div class="w-100">
                  <div class="bxslider">
                    {% for image in post.images %}
                      <div data-desc="{{image.description}}">
                        <img width="1000" src="{{image.imageUrl}}"/>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="tl mt3 mb5">
                  {{ post.content }}
                </div>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}





    </div>

  </div>

</div>
