body {
  font-family: 'NittiGrotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.f-abhayaReg {
  font-family: 'Abhaya Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.f-abhayaSemibold {
  font-family: 'AbhayaSemiBold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.f-akzExt {
  font-family: 'Akzidenz Extended';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.f-akz {
  font-family: 'Akzidenz Black';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-size: 16px;
  font-family: 'NittiGrotesk-Bold';
}

p {
  padding-top: 0;
  margin-top: 0;
}

.fHorz {
  text-transform: uppercase;
  font-family: 'NittiGrotesk';
  font-size: 12px;
}

.fBigLink {
  font-size: 25px;
  text-decoration: none;
  line-height: 1em;
  color: #8A8A8A;
  position: relative;
}

.fBigLink:hover {
  color: #2C2F32;
  cursor: pointer;
}

.fBigLink:hover:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 60%;
  left: 0;
  background: #09F5FF;
  z-index: -1;
}

.fBigLink-active {
  color: #2C2F32;
}

.noAnchorStyle {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.noAnchorStyle:hover {
  opacity: .5;
}

a {
  color: #000;
}

.f-11 {
  font-size: 12px;
}
